<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>Heading</h2>

          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>

          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/138954117" width="500"height="281" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
            <p>
              <a href="https://vimeo.com/138954117">GoPlanr Promo Video</a> 
              from 
              <a href="https://vimeo.com/user43763400">kevin</a> on 
              <a href="https://vimeo.com">Vimeo</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a class="btn btn-default" href="#"><i class="ion-social-github"></i> GoPlanr project</a>
</div>
</div>
